rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow create;
      allow read, list: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
    }
    match /jobs/{job} {
      allow read, list, create, update;
      allow delete: if request.auth.uid == get(/databases/$(database)/documents/jobs/$(job)).data.owner_id;
    }
  }
}